Architecture: amd64
Depends: libc6 (>=2.31.0)
Description: Fowler-Noll-Vo Hash Function
Homepage: https://github.com/kei-g/fnv1
Maintainer: kei-g <km.8k6ce+debpkg@gmail.com>
Package: fnv1
Priority: optional
Section: misc
Source: fnv1
Version: 1.0.0
